<div class="modal-dialog">
  <div class="modal-content" role="document">
    <div div class="modal-header">
      <h3 class="modal-title">選択</h3>
      <%= link_to "×", items_path %>
    </div>
    <div div class="modal-body">
      <%= link_to "新規作成", new_item_path(start_time: @date) %>
      <% if @items.count > 0 %>
        <% @items.each do |item| %>
          <% if item.income_and_expenditure == "支出" %>
            <%= link_to "-#{item.amount}円", edit_item_path(item) %>
          <% else %>
            <%= link_to "+#{item.amount}円", edit_item_path(item) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>