<div class = "header">
	<div class="header-calendar">
		<% if request.path == items_path || request.path == "/"%>
			<%= link_to "ðŸ’°ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼", items_path, class:"btn-cross" %>
		<% else %>
			<%= link_to "ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼", items_path, class:"btn-cross" %>
		<% end %>
	</div>
	<div class="header-new">
		<% if request.path == new_item_path%>
		<%= link_to "ðŸ’°æ–°è¦ä½œæˆ", new_item_path, class:"btn-cross" %>
		<% else%>
			<%= link_to "æ–°è¦ä½œæˆ", new_item_path, class:"btn-cross" %>
		<% end %>
	</div>
</div>
